<div role="main" class="ui-content">
    <h3 class="ui-bar ui-bar-a">Sägeblatt</h3>
    <p>Dieses Sägeblatt stammt aus der Spalthütte des Reichsgrafen von Kesselstatt (von der Terrasse aus auf gegenüberliegende Teilseite noch zu sehen). Damit wurden die im Berg gewonnenen Schieferblöcke in handlichere Teile zerlegt, die dann in den Spalthütten weiterverarbeitet werden konnten.</p>
    <div class="center-wrapper">
        <a href="/images/saegeblatt/saegeblatt.jpg" class="swipebox">
            <img src="/images/saegeblatt/saegeblatt.jpg" class="ui-li-thumb image-thumb" />
        </a>  
    </div>

    <p>Neben dem Dachschiefer, der die Haupteinnahmequelle im Schieferbergbau war, wurden auch Fensterbänke, Trittplatten und Mauersteine hergestellt. Bis nach Amerika und Moskau wurden Billardtische aus Schiefer geliefert!</p>

    <div class="center-wrapper">
        <a href="/images/saegeblatt/saegen.jpg" class="swipebox">
            <img src="/images/saegeblatt/saegen.jpg" class="ui-li-thumb image-thumb"/>
        </a>  
    </div>
</div>

<div data-role="footer" data-position="fixed">
    <div data-role="navbar" data-iconpos="top">
        <ul>
            <li><a data-transition="slide" href="/index.html" data-icon="arrow-l">Zur&uuml;ck</a></li>
        </ul>
    </div>
</div>

<script>
    $(document).on("pagecreate",function(){
        $('.swipebox').swipebox();
        $(".photopopup").on({
            popupbeforeposition: function() {
                var maxHeight = $(window).height() - 60 + "px";
                $(".photopopup img").css("max-height",maxHeight);
            }
        });            
    });
</script>
<script type="text/javascript">
    $(".popphoto").panzoom();
</script> 